body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
  }
  
header, footer {
  display: flex;
    padding: 10px 0px;
    color: white;
    background-color: black;
    padding-left: 12.5%;padding-right: 12.5%;
    flex: 1
  }
  header{
    display: flex;
    justify-content: space-between
  }
  section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
    padding-left: 12.5%;padding-right: 12.5%;
  }
  
  article {
    margin: 5px;
    padding: 10px;
    background-color: white;
    
  }
  nav{
    padding-top:10px;padding-bottom: 10px;
  }
  
 nav ul {
    padding: 0;
  }
  
 nav ul li {
    display: inline;
    margin: 5px;
  }